<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.actionSets">
      <actionSet id="pm_rename_refactoring.actionSet"
            label="Sample Action Set"
            visible="true">
         <action
               label="PM Cut"
               class="net.creichen.pm.actions.PMCutAction"
               tooltip="Hello, Eclipse world"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/ProgramMetamorphosis"
               id="pm_rename_refactoring.actions.CutAction">
         </action>
         <action
               label="PM Paste"
               class="net.creichen.pm.actions.PMPasteAction"
               tooltip="Hello, Eclipse world"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/ProgramMetamorphosis"
               id="pm_rename_refactoring.actions.PasteAction">
         </action>
          <action
               label="PM Split Temporary..."
               class="net.creichen.pm.actions.PMSplitAction"
               tooltip="Hello, Eclipse world"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/ProgramMetamorphosis"
               id="pm_rename_refactoring.actions.SplitTemporaryAction">
         </action>
         <action
               label="PM Time Parse"
               class="net.creichen.pm.actions.PMTimeParseAction"
               tooltip="Hello, Eclipse world"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/ProgramMetamorphosis"
               id="pm_rename_refactoring.actions.TimeParseAction">
         </action>
	  </actionSet>
   </extension>
   <extension point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="net.creichen.pm.inconsistencies.PMMarkerResolutionGenerator"
            markerType="org.eclipse.core.resources.problemmarker">
      </markerResolutionGenerator>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <command
            defaultHandler="net.creichen.pm.commands.RenameHandler"
            id="pm_rename_refactoring.actions.RenameAction"
            name="PM Rename...">
      </command>
      <command
            defaultHandler="net.creichen.pm.commands.DelegateHandler"
            id="pm_rename_refactoring.actions.DelegateAction"
            name="PM Delegate...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.eclipse.jdt.ui.refactoring.menu"
               label="Refactor">
            <separator
                  name="ProgramMetamorphosis"
                  visible="true">
            </separator>
            <command
                  commandId="pm_rename_refactoring.actions.RenameAction"
                  label="PM Rename..."
                  style="push"
                  tooltip="Rename an element using Program Metamorphosis">
            </command>
            <command
                  commandId="pm_rename_refactoring.actions.DelegateAction"
                  label="PM Delegate..."
                  style="push"
                  tooltip="Delegate a method call">
            </command>
         </menu>
      </menuContribution>
   </extension>
</plugin>
