<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="net.creichen.pm.ui.MarkerResolutionGenerator"
            markerType="org.eclipse.core.resources.problemmarker">
      </markerResolutionGenerator>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <command
            defaultHandler="net.creichen.pm.commands.RenameHandler"
            id="pm_rename_refactoring.actions.RenameAction"
            name="PM Rename...">
      </command>
      <command
            defaultHandler="net.creichen.pm.commands.DelegateHandler"
            id="pm_rename_refactoring.actions.DelegateAction"
            name="PM Delegate...">
      </command>
      <command
            defaultHandler="net.creichen.pm.commands.CutHandler"
            id="pm_rename_refactoring.actions.CutAction"
            name="PM Cut">
      </command>
      <command
            defaultHandler="net.creichen.pm.commands.PasteHandler"
            id="pm_rename_refactoring.actions.PasteAction"
            name="PM Paste">
      </command>
      <command
            defaultHandler="net.creichen.pm.commands.SplitHandler"
            id="pm_rename_refactoring.actions.SplitTemporaryAction"
            name="PM Split Temporary...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.eclipse.jdt.ui.refactoring.menu"
               label="Refactor">
            <separator
                  name="ProgramMetamorphosis"
                  visible="true">
            </separator>
            <command
                  commandId="pm_rename_refactoring.actions.RenameAction"
                  label="PM Rename..."
                  style="push"
                  tooltip="Rename an element using Program Metamorphosis">
            </command>
            <command
                  commandId="pm_rename_refactoring.actions.DelegateAction"
                  label="PM Delegate..."
                  style="push"
                  tooltip="Delegate a method call">
            </command>
            <command
                  commandId="pm_rename_refactoring.actions.CutAction"
                  label="PM Cut"
                  style="push"
                  tooltip="Cut this element and move it to the paste board">
            </command>
            <command
                  commandId="pm_rename_refactoring.actions.PasteAction"
                  label="PM Paste"
                  style="push"
                  tooltip="Paste an element from the paste board">
            </command>
            <command
                  commandId="pm_rename_refactoring.actions.SplitTemporaryAction"
                  label="PM Split Temporary..."
                  style="push"
                  tooltip="Split usage of this variable by introducing a new variable here.">
            </command>
         </menu>
      </menuContribution>
   </extension>
</plugin>
